.idea/copilot.data.migration.agent.xml
automation/mcq_crawler/__pycache__/*
automation/tests/__pycache__/*
automation/tests/__pycache__/*
automation/dashboard/__pycache__/*
automation/mcq_crawler/__pycache__/*
automation/output/*
automation/automation/output/*
automation/auth/auth_hosts.yaml
automation/__pycache__/main.cpython-313.pyc
